@import url('fonts.css');
@import url('reset.css');
@import url('root.css');
.error404 {
    width: 100%;
    height: var(--mainHeight);
    margin-top: 100px;
}

.imagen {
    background-image: url('../logos_proyecto/avion.jpg');
    height: 320px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100vw;
    min-width: 420px;
}

.imagen h1 {
    background: linear-gradient(to bottom, transparent 6%, var(--colorTransparenteAzul) 76%);
    width: 100%;
    text-align: center;
    height: 2.5em;
    font-family: 'Hardome';
    font-weight: 300;
    text-shadow: 2px 2px #c8eef5;
    user-select: none;
    animation: fadeIn 400ms;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto * {
    margin-bottom: 18.5px;
}

.texto h1 {
    font-size: 3em;
    font-family: 'Rockhead';
    margin-top: 50px;
}

.texto p {
    font-size: 1.5em;
    font-family: 'Hardome';
}

.texto a {
    margin-bottom: 100px;
    text-decoration: none;
    background-color: var(--colorPrincipal);
    color: black;
    padding: 8px;
    border: 1px solid var(--colorTextNav);
    text-align: center;
    width: 160px;
}

.texto a:hover {
    background-color: var(--colorAgregar);
}


/******* Titulo de la foto si es mas muy pequeño  */

@media screen and (max-width: 520px) {
    .imagen h1 {
        font-size: 1.5em;
    }
}


/************** TABLET */

@media screen and (min-width: 40.5em) {}


/************* Desktop*/

@media screen and (min-width: 60.5em) {
    .imagen {
        height: 350px;
        background-position: 0px -89px;
    }
}

@media screen and (min-width: 1700px) {
    .imagen {
        height: 500px;
    }
}