@import url('fonts.css');
@import url('reset.css');
@import url('root.css');

.insertViaje{
  font-family: 'Sriracha', cursive;
   width: 40%;
   margin:0 auto;
   background-color: rgb(252, 249, 239);
}

.insertViaje>form{
   height: 745px;
}

.etiquetas{
  display: flex;
  flex-wrap: wrap;
}
.etiqueta{
  flex: 1 0 33%;
}
