@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

@font-face {
    font-family: 'Hardome';
    src: url('../Fonts/Hardome.otf');
}

@font-face {
    font-family: 'Krinkes';
    src: url('../Fonts/KrinkesDecorPERSONAL.ttf');
}

@font-face {
    font-family: 'KrinkesRegular';
    src: url('../Fonts/KrinkesRegularPERSONAL.ttf');
}

@font-face {
    font-family: 'Sunflower';
    src: url('../Fonts/MadeSunflower.otf');
}

@font-face {
    font-family: 'Quicken';
    src: url('../Fonts/Quicken Demo.ttf');
}

@font-face {
    font-family: 'Rockhead';
    src: url('../Fonts/RockheadNow.otf');
}
