@import url('fonts.css');
@import url('reset.css');
@import url('root.css');
.inicio {
    font-family: 'Sriracha', cursive;
    margin: auto;
}

.imagen {
    background-image: url('../logos_proyecto/Viaje_Fondo-1920x720.png');
    height: 320px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100vw;
}

.imagen h1 {
    background: linear-gradient(to bottom, transparent 0%, var(--colorTransparenteAzul) 30%);
    width: 100%;
    text-align: center;
    height: 2.5em;
    font-family: 'Hardome';
    font-weight: 300;
    text-shadow: 2px 2px #c8eef5;
    user-select: none;
    animation: fadeIn 400ms;
}


/****** BUSCADOR */

.inicio>form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    font-size: 1.4em;
}

.inicio>form * {
    margin-bottom: 20px;
}

.inicio>form div {
    display: flex;
    flex-direction: column;
}

#filtro,
#buscador,
#buscadorEtiquetas {
    background-color: var(--colorPrincipal);
}

#fitro option:hover {
    background-color: var(--colorTransparenteAzul)
}

#buscar {
    background-color: var(--colorPrincipal);
    padding: 8px;
    width: 10em;
}

#buscar:hover {
    background-color: var(--colorTransparenteAzul);
}

.inicio>form>div:nth-of-type(3) {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

#aventura {
    background-color: var(--colorBotonAventura);
    padding: 8px;
    width: 10em;
}

#aventura a {
    color: black;
}

#aventura:hover {
    background-color: var(--colorBotonAventuraTransparente);
}

.inicio>h3 {
    margin-top: 30%;
}


/********************** TARJETAS   */

.mejorValorados {
    margin: auto;
    width: 80%;
    min-height: 450px;
}

.mejorValorados h2 {
    text-align: center;
    font-family: 'KrinkesRegular';
    font-size: 3em;
    margin-bottom: 40px;
}

.tarjeta {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 80px;
    animation: fadeIn 400ms;
}

.puntuacion span {
    font-size: 1.5em;
}

.puntuacion span:last-of-type {
    font-size: 1.2em;
}

.tarjeta a {
    color: black;
    text-decoration: none;
}

.tarjeta h3 {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    padding: 17px;
    padding-top: 5px;
    font-size: 1.5em;
    background: linear-gradient(to top, transparent 0%, var(--transparenteTarjeta) 30%);
}

.tarjeta>a>div:last-of-type {
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 4px;
    background: linear-gradient(to bottom, transparent 0%, var(--transparenteTarjeta) 30%);
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 58px;
}

.tarjeta>a>div:last-of-type>div {
    padding: 5px;
}

.tarjeta img {
    width: 100%;
}

.rellena:before {
    content: "\2605";
    color: gold;
    position: absolute;
}


/******** PAGINACION */

.paginacion {
    display: flex;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

.paginacion>a {
    float: left;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}


/********************** SUGERENCIAS */

#sugerencia {
    width: 12em;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

#sugerencia ul {
    list-style: none;
}

#sugerencia li {
    background-color: var(--colorPrincipal);
}

#sugerencia li:hover {
    background-color: var(--colorAgregar);
}

#sugerencia a {
    width: 100%;
    text-decoration: none;
}


/****** ERRORES */

.errores {
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}


/*************** PUBLICIDAD */


/*
.pu {
    float: left;
    display: flex;
    justify-content: center;
    width: 20%;
}

.pu a {
    margin: 10%;
    width: 80%;
    height: 100%;
}

.pu img {
    width: 100%;
}
*/


/****************     ETIQUETAS   **/

.etiquetas span {
    background-image: url('../logos_proyecto/sprite_etiquetas_pequeño.png');
    width: 45px;
    height: 41px;
    display: inline-block;
}

.Aventuras {
    background-position: -9px;
}

.Cultural {
    background-position: -56px;
}

.Religioso {
    background-position: -96px;
}

.Romántico {
    background-position: -138px;
}

.Amigos {
    background-position: -187px;
}

.Gastronómico {
    background-position: -229px;
}

.Relax {
    background-position: -273px;
}

.Fiesta {
    background-position: -318px;
}

.LowCost {
    background-position: -361px;
}

.oculto {
    display: none
}


/************** TABLET */

@media screen and (min-width: 40.5em) {
    /* TARJETAS GRID */
    .mejorValorados {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mejorValorados h2 {
        grid-column: 1 / 3;
    }
    .tarjeta {
        width: 75%;
    }
    .mejorValorados h2 {
        font-size: 4em;
    }
    .tarjeta>a>img {
        height: 185px;
    }
    .tarjeta>div:last-of-type {
        left: 0px;
        bottom: 4px;
    }
}


/************* Desktop*/

@media screen and (min-width: 60.5em) {
    /* TARJETAS GRID */
    .mejorValorados {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .mejorValorados h2 {
        grid-column: 1 / 4;
    }
    .tarjeta>a>img {
        height: 200px;
    }
    /* BUSCADOR*/
    .inicio>form {
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        align-items: flex-end;
        margin: 90px auto;
        margin-bottom: 150px;
    }
    .inicio>form>div:nth-of-type(1),
    .inicio>form>div:nth-of-type(2) {
        width: 25%;
    }
    #buscar {
        margin-right: 35px;
    }
    .inicio>form>div:nth-of-type(2) {
        position: relative;
    }
    #sugerencia {
        position: absolute;
        top: 84px;
        left: 0px;
        width: 100%;
        height: 100px;
    }
    #sugerencia ul {
        margin-bottom: 3px;
    }
    #sugerencia ul li {
        margin-bottom: 3px;
    }
    #sugerencia ul li a {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 1200px) {
    .imagen {
        height: 350px;
    }
}

@media screen and (min-width: 1500px) {
    .imagen {
        height: 400px;
    }
}

@media screen and (min-width: 1700px) {
    .imagen {
        height: 500px;
    }
}