@import url('fonts.css');
@import url('reset.css');
@import url('root.css');

.login{
  font-family: 'Sriracha', cursive;
  margin: 100px 25%;
  text-align: center;
  width: 50%;
  height: 557px;
  float: left;
}
#olvidadoContraseña{
  font-size: 13px;
}
