@import url('fonts.css');
@import url('reset.css');
@import url('root.css');
/* .login {}
 */
/* .login{
  font-family: 'Sriracha', cursive;
  width: 100%;
  margin-top: 100px;
  min-height: var(--mainHeight);

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  align-items: center;
  justify-items: center;
}

.login > h1{
  grid-area: 1 / 1 / 2 / -1;
  font-size: 26px;
}

.login > form{
  grid-area: 2 / 1 / -1 / -1;
  align-self: start;

  width: 50%;
  max-width: 300px;
  margin: 25px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.login > form > label,
.login > form > input{
  flex-basis: 100%;
  margin: 5px 0;
}

.login > form > label:last-of-type{
  flex-basis: 30%;
}

.login > form > input[type="checkbox"],
.login > form > a{
  flex-basis: 50%;
}

#recuerdame{
  flex-basis: 10%;
}

.login > form > input[type="submit"]{
  flex-basis: 100%;
  font-size: var(--textNav1);
  background-color: var(--fondoTextarea);
  border-radius: 2px;
  border: #0001 1.5px solid;
}

.login > form > a{
  text-decoration: none;
  color: var(--colorTextNav);
  text-align: center;
  margin: 10px 0;
}

#olvidadoContraseña{
  font-size: 13px;
}

/******* @media screen and (min-width: 40.5em) **********/
@media screen and (min-width: 40.5em){
  .login > h1{
    font-size: 35px;
  }
}

.imagen {
    background-image: url('../logos_proyecto/avion 3.jpg');
    height: 320px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100vw;
    max-width: 1838px;
    min-width: 420px;
}

.imagen h1 {
    background: linear-gradient(to bottom, transparent 6%, var(--colorTransparenteAzul) 76%);
    width: 100%;
    text-align: center;
    height: 2.5em;
    font-family: 'Hardome';
    font-weight: 300;
    text-shadow: 2px 2px #c8eef5;
    user-select: none;
    animation: fadeIn 400ms;
}

form {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

form * {
    margin-bottom: 10px;
}

form input {
    width: 100%;
}

form div:nth-of-type(2) {
    margin-bottom: 35px;
}

form div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div:nth-of-type(3)>div {
    display: flex;
    align-items: center;
}

form #recuerdame {
    width: 30px;
}

form .botones {
    display: flex;
    justify-content: space-around;
}

form .botones * {
    width: 50%;
    cursor: pointer;
    margin: 10px;
}

form .botones input {
    margin-bottom: 100px;
    text-decoration: none;
    background-color: var(--colorFondo);
    color: black;
    padding: 8px;
    border: 1px solid var(--colorTextNav);
    text-align: center;
    width: 160px;
}

form .botones input:hover {
    background-color: var(--colorPrincipal);
}

form .botones a {
    margin-bottom: 100px;
    text-decoration: none;
    background-color: var(--colorFondo);
    color: black;
    padding: 8px;
    border: 1px solid var(--colorTextNav);
    text-align: center;
    width: 160px;
}

form .botones a:hover {
    background-color: var(--colorAgregar);
}

#olvidadoContraseña {
    font-size: 13px;
    text-decoration: none;
    color: var(--colorAzulOscuro);
}


/******* Titulo de la foto si es mas muy pequeño  */

@media screen and (max-width: 520px) {
    .imagen h1 {
        font-size: 1.5em;
    }
}


/************** TABLET */

@media screen and (min-width: 40.5em) {}


/************* Desktop*/

@media screen and (min-width: 60.5em) {
    .imagen {
        height: 350px;
        background-position: 0px -89px;
    }
    form {
        width: 35%;
    }
    form div:nth-of-type(3) {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1700px) {
    .imagen {
        height: 500px;
    }
}