@import url('fonts.css');
@import url('reset.css');
@import url('root.css');

.recuperarContraseña{
  font-family: 'Sriracha', cursive;
  height: 570px;
  width: 60%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
.recuperarContraseña > form{
  margin: auto;
  width: 80%
}
