@import url('fonts.css');
@import url('reset.css');
@import url('root.css');
.recuperarContraseña {
    margin-top: 150px;
}

.recuperarContraseña h2 {
    text-align: center;
    font-family: 'KrinkesRegular';
    font-size: 3em;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
}

.recuperarContraseña>form {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;
}

.recuperarContraseña>form * {
    margin: 10px;
}

.recuperarContraseña>form>label {
    text-align: left;
}

#enviar {
    width: 30%;
    align-self: center;
    padding: 6px;
    cursor: pointer;
    margin-top: 20px;
}

#enviar:hover,
.errorContraseña a:hover {
    background-image: url('../logos_proyecto/cloud.gif');
    background-position: center;
}

.errorContraseña {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 320px;
}

.errorContraseña p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 80px;
}

.errorContraseña a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    width: 30%;
    align-self: center;
    padding: 6px;
    text-align: center;
    background-color: var(--colorPrincipalOpacidad);
}


/************** TABLET */

@media screen and (min-width: 40.5em) {
    .recuperarContraseña>form {
        width: 45%;
        margin-bottom: 190px;
    }
    .errorContraseña p {
        text-align: center;
    }
    .errorContraseña {
        margin-bottom: 360px;
    }
}


/************* Desktop*/

@media screen and (min-width: 60.5em) {
    .recuperarContraseña>form {
        width: 35%;
        margin-bottom: 250px;
        margin-top: 80px;
    }
    .errorContraseña {
        margin-bottom: 440px;
    }
    .errorContraseña a {
        width: 15%;
    }
}