@import url('fonts.css');
@import url('reset.css');
@import url('root.css');

.inicio{
  font-family: 'Sriracha', cursive;
  width: 70%;
  margin: auto;
}
.inicio>form{
  margin: auto;
  text-align: center;
  padding: 1em;
  background-color: var(--colorPrincipal);
  border-radius: 50px;
  border-color:1px solid var(--colorHover);
}
.inicio>form>select{
  height:  4em;
  width: 11em;
  border-radius: 50px;
  padding: 0 10px;
  border-color:1px solid var(--colorHover);
}
.inicio>form>input:nth-of-type(1){
  width: 30em;
  height:  4em;
  padding: 0 20px;
  border-radius: 50px;

}
.inicio>form>input:nth-of-type(2){
  height:  4em;
  width: 6em;
  border-radius: 50px;
}
.inicio>form>input:nth-of-type(2):hover{
  background-color: var(--colorHover);
  color: white;
}

.inicio>a:first-of-type{
  text-decoration: none;
  float: right;
  background-color: var(--colorBotonAventura);
  padding: 1em;
  border-radius: 50px;
  color:white;
}
.inicio>h3{
  margin-top: 30%;
}
.inicio>.mejorValorados{
  width: 100%;
  margin-top: 30px;
  background-color: var(--colorOpacidad);
}
.viaje{
  width: calc(33% - 20px);
  height: 460px;
  float: left;
  overflow: hidden;
  margin: 0 10px;
  margin-bottom: 30px;
  background-color: hsla(160.5, 76.2%, 19.8%, 0.1)
}
.viaje>a>img{
  width: 100%;
  height: 200px;
}
.viaje>h4{
  height: 60px;
}
.viaje>h2{
  height: 60px;
}
.inicio>h1{
  margin-top: 60px;
}
.datos>p{
  margin: 5px 0;
}
.favoritos{
  width: 80px;
}

.fondo{
  background-size: 1920px;
  height: 1200px;
  padding-top: 50px;
}


.puntuacion{

}
.rellena:before{
   content: "\2605";
   color: gold;
   position: absolute;
}
