:root {
    /*--colorPrincipal:rgb(88, 248, 160);*/
    --colorPrincipal: #C2F4FD;
    --colorPrincipalOpacidad: rgba(194, 244, 253, 0.363);
    --colorFooter: rgba(133, 210, 223, 0.68);
    --colorOpacidad: rgba(175, 172, 172, 0.288);
    --colorHover: #85dcd4;
    --colorBotonAventura: rgba(105, 188, 201, 0.678);
    --colorFondoAventura: #568884c7;
    --colorFondoForm: #c4c4c4;
    --colorFondoLogin: rgba(166, 251, 204, 0.19);
    --colorAgregar: #8CA4FC;
    --colorFondo: #FFF;
    --textNav1: 20px;
    --textNav2: 14px;
    --colorTextNav: #6D8A8F;
    --borderMenu: #D3A46D;
    --colorBotonAventuraTransparente: rgba(207, 83, 83, 0.603);
    --colorTransparenteAzul: rgba(238, 244, 245, 0.5);
    --colorAzulClaro: #C2F4FD;
    --colorAzulOscuro: rgb(3, 31, 107);
    --colorFooterTexto: rgb(50, 72, 131);
    --transparenteTarjeta: rgba(241, 218, 218, 0.774);
    --fondoViaje: rgba(255, 199, 134, 0.47);
    --imgPerfil: 70px;
    --fondoTextarea: #E3E3E3;
    --mainHeight: calc(90vh - 100px);
    --aventuraHover: rgb(238, 158, 66);
}

.error {
    color: red;
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.scroll {
    position: fixed;
    right: 40px;
    bottom: 160px;
    width: 50px;
    display: none;
    cursor: pointer;
}

.scroll:hover {
    background-color: var(--colorHover);
}

.visible {
    display: block;
}

* {
    font-family: 'Sunflower';
    font-weight: 200;
}

@media screen and (min-width: 40.5em) {
    .scroll {
        bottom: 10vh;
    }
}


/**** ANIMACIONES */

@keyframes fadeIn {
    from {
        opacity: 0%
    }
    to {
        opacity: 100%;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0%;
        font-size: 0px;
    }
    to {
        opacity: 100%;
        font-size: 4em;
    }
}