@import url('fonts.css');
@import url('reset.css');
@import url('root.css');
.tusViajes {
    font-family: 'Sriracha', cursive;
    margin: auto;
}

.imagen {
    background-image: url('../logos_proyecto/avion 2.jpg');
    height: 320px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100vw;
    max-width: 1838px;
    min-width: 420px;
}

.imagen h1 {
    background: linear-gradient(to bottom, transparent 6%, var(--colorTransparenteAzul) 76%);
    width: 100%;
    text-align: center;
    height: 2.5em;
    font-family: 'Hardome';
    font-weight: 300;
    text-shadow: 2px 2px #c8eef5;
    user-select: none;
    animation: fadeIn 400ms;
}

#noViajes {
    min-height: 450px;
}

.tusViajes>h2:nth-of-type(1) {
    text-align: center;
    font-family: 'KrinkesRegular';
    font-size: 3em;
    margin: 60px;
}

.noViajes {
    margin: auto;
    width: 80%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}

.noViajes div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noViajes div p {
    margin-bottom: 20px;
}

.noViajes div a {
    text-decoration: none;
    background-color: var(--colorPrincipal);
    color: black;
    padding: 8px;
    border: 1px solid var(--colorTextNav);
}

.noViajes div a:hover {
    background-color: var(--colorAgregar);
}

.noViajes h2 {
    text-align: center;
    font-family: 'KrinkesRegular';
    font-size: 3em;
    margin: 60px;
}


/********************** TARJETAS   */

.contenedor {
    margin: auto;
    width: 80%;
    min-height: 450px;
}

.tarjeta {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 80px;
    animation: fadeIn 400ms;
}

.puntuacion span {
    font-size: 1.5em;
}

.puntuacion span:last-of-type {
    font-size: 1.2em;
}

.tarjeta a {
    color: black;
    text-decoration: none;
}

.tarjeta h3 {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    padding: 17px;
    padding-top: 5px;
    font-size: 1.5em;
    background: linear-gradient(to top, transparent 0%, var(--transparenteTarjeta) 30%);
}

.tarjeta>a>div:last-of-type {
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(to bottom, transparent 0%, var(--transparenteTarjeta) 30%);
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 58px;
}

.tarjeta>a>div:last-of-type>div {
    padding: 5px;
}

.tarjeta>a {
    display: inline-block;
    overflow: hidden;
}

.tarjeta img {
    width: 100%;
    display: block;
    transition: all 0.3s;
    transform-origin: 50% 5%;
}


/**** HOVER TARJETA */

.tarjeta>a:first-of-type img:hover {
    transform: scale(1.05);
    transform-origin: 50% 5%;
}

.rellena:before {
    content: "\2605";
    color: gold;
    position: absolute;
}

#basura {
    width: 30px;
    height: 30px;
}

.tarjeta>a:last-of-type {
    position: absolute;
    right: 0px;
    top: -5px
}


/****************  ETIQUETAS */

.etiquetas span {
    background-image: url('../logos_proyecto/sprite_etiquetas_pequeño.png');
    width: 45px;
    height: 41px;
    display: inline-block;
}

.Aventuras {
    background-position: -9px;
}

.Cultural {
    background-position: -56px;
}

.Religioso {
    background-position: -96px;
}

.Romántico {
    background-position: -138px;
}

.Amigos {
    background-position: -187px;
}

.Gastronómico {
    background-position: -229px;
}

.Relax {
    background-position: -273px;
}

.Fiesta {
    background-position: -318px;
}

.LowCost {
    background-position: -361px;
}

.oculto {
    display: none
}


/******* Titulo de la foto si es mas muy pequeño  */

@media screen and (max-width: 520px) {
    .imagen h1 {
        font-size: 1.5em;
    }
}


/************** TABLET */

@media screen and (min-width: 40.5em) {
    /* TARJETAS GRID */
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .tarjeta {
        width: 85%;
    }
    .mejorValorados h2 {
        font-size: 4em;
    }
    .tarjeta>a>img {
        height: 185px;
    }
}


/************* Desktop*/

@media screen and (min-width: 60.5em) {
    /* TARJETAS GRID */
    .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tarjeta>a>img {
        height: 200px;
    }
    .tarjeta>a>div:last-of-type {
        left: 0px;
        bottom: 140px;
    }
    .imagen {
        height: 350px;
        background-position: 0px -89px;
    }
}


/*
@media screen and (min-width: 1700px) {
    .imagen {
        height: 500px;
    }
}
*/