@import url('fonts.css');
@import url('reset.css');
@import url('root.css');

/* .datosUsuario, .datosUsuario *{
  outline: 1px red solid;
} */

.contenedor{
  font-family: 'Sriracha', cursive;
  margin: 100px auto 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.desaparecer{
  display: none;
}

.datosUsuario,
.itinerario,
.comentarios,
.pu{
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
}

/******* DATOS DE USUARIO **********/
#titulo,
#imgViaje,
.datos{
  flex: 0 0 100%;
}

#titulo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#titulo > h1{
  flex: 0 0 35%;
}

#titulo > h1,
.puntuacion,
.puntuacion > span:last-of-type{
  margin-left: 30px;
}

#estrella{
  flex: 0 0 90px;
}

#estrella > img{
  width: 50px;
  height: 50px;
  transform: rotate(-25deg);
}

.puntuacion{
  flex: 0 0 50%;
  cursor: pointer;
  font-size: 2em;
}

#titulo > a{
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.fotoSmall{
  width: var(--imgPerfil);;
  height: var(--imgPerfil);;
  margin: 10px;
  border-radius: 50%;
}

#imgViaje{
  display: flex;
  background-color: var(--fondoViaje);
}

#imgViaje > img{
  width: 90%;
  margin: 5%;
}

.datos{
  padding: 0 25%;
}

/******* ITINERARIO **********/
.itinerario > h2{
  flex-basis: 100%;
  text-align: center;
  background-color: var(--colorPrincipal);
}

.itinerario > ul,
.insertItinerario,
#itinerarioDias{
  margin: 0 25%;
}

.itinerario > ul{
  flex-basis: 100%;
  list-style: none;
  text-align: center;
}

/******* COMENTARIOS **********/
.comentarios{
  justify-content: center;
}

.comentario,
.comentarios > form{
  margin: 0 10%;
}

.comentarios > h2{
  flex-basis: 100%;
  text-align: center;
  background-color: var(--colorPrincipal);
}

.comentario{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.comentario > a{
  flex: 0 0 20%;
}

.comentario > div:nth-of-type(1){
  flex: 1 0 40%;
  display: flex;
  flex-wrap: wrap;
}

.comentario > div:nth-of-type(1) > p,
.comentario > div:nth-of-type(1) > span{
  flex: 0 0 100%;
}

.comentario > div:nth-of-type(1) > p{
  align-self: flex-end;
}

.comentario > div:nth-of-type(2){
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borrarComentario{
  width: 40px;
}


.comentarios > form{
  margin-top: 50px;
}

.comentarios > form > textarea{
  width: 100%;
}

/******* PUBLICICIDAD **********/
.pu > a{
  flex-basis: 100%;
}

.pu > a > img{
  width: 70%;
  margin: 8% 15%;
}

/* .contenedor h1,
.contenedor h2{
  border-bottom: 2px solid black;
} */

/* .contenedor .datosUsuario h2{
  border-bottom: 0px;
} */

/* .datosUsuario{
  margin: 0 10%;
  background-color: var(--colorOpacidad);
  position: relative;
} */
/* .datosUsuario>img{
  width: 600px;
} */
/* .datosUsuario>a{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
} */
/* .datosUsuario *, .itinerario *{
  padding: 5px;
  margin-top: 5px;
} */
/* .itinerario{
  margin: 0 10%;
  background-color: var(--colorOpacidad);
}
.itinerario ul{
  list-style: none
}
.itinerario ul li{
  font-size: 1.5em;
  cursor: pointer;
}
.itinerario ul li>p:first-of-type:hover{
  border-bottom: 3px solid black;
  padding-bottom: 2px;
}

.itinerario ul{
  display: flex;
  justify-content: space-around;
}
.itinerarioDias{
  display: flex;
  flex-direction: column;
}
#fotoDia{
  width: 600px;

} */
/************************** PUNTUACION */
/* .puntuacion span{
  cursor: pointer;
  font-size: 2em;
}
.puntuacion {
  unicode-bidi: bidi-override;
  direction: rtl;

  position: absolute;
  right: 0px;
  top: -8px;
}
.puntuacion > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.puntuacion > span:hover:before,
.puntuacion > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
} */

/* .comentarios{
  margin: 10%;
}
.comentario{
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.comentario div:nth-of-type(1) p{
  font-size: 1.4em;
}
.comentario span{
  font-size: 0.6em;
}
.comentario div:nth-of-type(1){
  margin-left: 20px;
  flex: 1;
}
.comentario .borrarComentario{
  font-size: 1em;
  width: 30px;
  cursor: pointer;
}
.diaSeleccionado{
  background-color: var(--colorOpacidad);
}
#estrella{
  position: absolute;
  left: -90px;
  top: -23px;
}
#estrella img{
  cursor: pointer;
}
.fotoSmall{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  vertical-align: middle;
}

.favoritos{
  width: 80px;
}
.noEncontrado{
  text-align: center;
}

.pu{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pu iframe{
  width: 80%;
  height: 100%;
}

.pu a{
  margin: 10%;
  width: 80%;
  height: 100%;
}

.pu img{
  width: 100%;
}

.imgP{
  width: 100vw;
  height: 100vh;
}

.imgP img{
  width: 100%;
} */




/****************     ETIQUETAS   **/
.etiquetas span{
  background-image: url('../logos_proyecto/sprite_etiquetas.png');
  width: 72px;
  height: 72px;
  display: inline-block;
}
.Aventuras{
  background-position: 0px;
}
.Cultural{
  background-position: -73px;
}
.Religioso{
  background-position: -140px;
}
.Romántico{
  background-position: -202px;
}
.Amigos{
  background-position: -272px;
}
.Gastronómico{
  background-position: -342px;
}
.Relax{
  background-position: -416px;
}
.Fiesta{
  background-position: -489px;
}
.LowCost{
  background-position: -559px;
}



/******************* MODAL LOGIN  */
#modal{
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.7);
}
#modal *{
    font-family: 'Sriracha', cursive;
    font-size: 1em;
}
#modal div{
  max-width: 400px;
  min-width: 200px;
  max-height: 100vh;
  /*min-height: 200px;*/
  padding: 2em;
  background-color: white;
  position: relative;
  border-radius: 5%;
  height: 215px;
  width: 280px;
  animation: fadeIn 400ms;
}
#modal p:first-of-type{
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  margin-top: -20px;
}
#modal p{
  margin-bottom: 20px;
  text-align: justify;
}
#modal button{
  margin: 20px auto;
  width: calc(50% - 10px);
  margin: 5px;
  border-radius: 10%;
  cursor: pointer;
}
#modal button:hover{
  background-color: var(--colorPrincipal);
  color: white;
}

#btn-cerrar{
  position: absolute;
  bottom: 3px;
  right: 4px;
  width: 30px;
  cursor: pointer;
}


/******************* MODAL FOTO  */
#modalFoto{
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.7);
}
#modalFoto div{
  max-height: 100vh;
  /*min-height: 200px;*/
  padding: 2em;
  background-color: white;
  position: relative;
  border-radius: 3%;
  height: 650px;
  width: 1110px;
  animation: fadeIn 400ms;
}
#modalFoto img:first-of-type{
  height: 576px;
  width: 1024px;
  border-radius: 2%;
}
#btn-cerrarFoto{
  position: absolute;
  bottom: 11px;
  right: 26px;
  width: 30px;
  cursor: pointer;
}
