@import url('fonts.css');
@import url('reset.css');
@import url('root.css');

.contenedor{
  overflow: hidden;
  font-family: 'Sriracha', cursive;
  background-size: 1920px;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contenedor h1,
.contenedor h2{
  border-bottom: 2px solid black;
}
.contenedor .datosUsuario h2{
  border-bottom: 0px;
}

.datosUsuario{
  margin: 0 10%;
  background-color: var(--colorOpacidad);
  position: relative;
}
.datosUsuario>img{
  width: 600px;
}
.datosUsuario>a{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.datosUsuario *, .itinerario *{
  padding: 5px;
  margin-top: 5px;
}
.itinerario{
  margin: 0 10%;
  background-color: var(--colorOpacidad);
}
.itinerario ul{
  list-style: none
}
.itinerario ul li{
  font-size: 1.5em;
  cursor: pointer;
}
.itinerario ul li>p:first-of-type:hover{
  border-bottom: 3px solid black;
  padding-bottom: 2px;
}

.itinerario ul{
  display: flex;
  justify-content: space-around;
}
.itinerarioDias{
  display: flex;
  flex-direction: column;
}
#fotoDia{
  width: 600px;

}
/************************** PUNTUACION */
.puntuacion span{
  cursor: pointer;
  font-size: 2em;
}
.puntuacion {
  unicode-bidi: bidi-override;
  direction: rtl;

  position: absolute;
  right: 0px;
  top: -8px;
}
.puntuacion > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.puntuacion > span:hover:before,
.puntuacion > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}



.comentarios{
  margin: 10%;
}
.comentario{
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.comentario div:nth-of-type(1) p{
  font-size: 1.4em;
}
.comentario span{
  font-size: 0.6em;
}
.comentario div:nth-of-type(1){
  margin-left: 20px;
  flex: 1;
}
.comentario .borrarComentario{
  font-size: 1em;
  width: 30px;
  cursor: pointer;
}
.diaSeleccionado{
  background-color: var(--colorOpacidad);
}
#estrella{
  position: absolute;
  left: -90px;
  top: -23px;
}
#estrella img{
  cursor: pointer;
}
.fotoSmall{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  vertical-align: middle;
}

.favoritos{
  width: 80px;
}
.noEncontrado{
  text-align: center;
}

.pu{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pu iframe{
  width: 80%;
  height: 100%;
}

.pu a{
  margin: 10%;
  width: 80%;
  height: 100%;
}

.pu img{
  width: 100%;
}

.imgP{
  width: 100vw;
  height: 100vh;
}

.imgP img{
  width: 100%;
}




/****************     ETIQUETAS   **/
.etiquetas span{
  background-image: url('../logos_proyecto/sprite_etiquetas.png');
  width: 72px;
  height: 72px;
  display: inline-block;
}
.Aventuras{
  background-position: 0px;
}
.Cultural{
  background-position: -73px;
}
.Religioso{
  background-position: 145px;
}
.Romántico{
  background-position: -202px;
}
.Amigos{
  background-position: -272px;
}
.Gastronómico{
  background-position: -342px;
}
.Relax{
  background-position: -416px;
}
.Fiesta{
  background-position: -489px;
}
.LowCost{
  background-position: -559px;
}
